.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;

  padding-left: 20px;
  padding-right: 20px;

  justify-content: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 48px;
    }
  }
}

@media (min-width: 736px) {
  .catalog {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1015px) {
  .catalog {
    padding-left: 40px;
    padding-right: 40px;
  }
}
